.about__container {
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;

}

.about__data {
    padding: 1.875rem;
    /* Espaciado interno */
    background-color: var(--container-color);
    /* Color de fondo */
    box-shadow: var(--shadow);
    /* Sombra para el contenedor */
    border-radius: var(--border-radius);
    /* Bordes redondeados */
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas de igual tamaño */
    column-gap: 1.875rem;
    /* Espaciado entre columnas */
    align-items: flex-start;
    /* Alineación de los ítems al inicio */
    position: relative;
    /* Establece un contexto para los elementos hijos */
}

.about__data::before {
    content: '';
    /* Elemento decorativo vacío */
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--container-color);
    position: absolute;
    left: -0.93rem;
    top: 20%;
}

.about__description {
    margin-bottom: 1rem;
    /* Espaciado inferior para el texto */
    text-align: justify;
    /* Justifica el texto para alinearlo a ambos lados */
}

.about__skills {
    row-gap: 1.25rem;
    /* Espaciado entre filas dentro del contenedor de habilidades */
}

.skills__titles {
    display: flex;
    /* Los elementos hijos estarán en línea */
    justify-content: space-between;
    /* Distribuye los elementos a los extremos del contenedor */
    margin-bottom: 1rem;
}

.skills__name {
    font-size: var(--normal-font-size);
    /* Tamaño de fuente basado en la variable */
    font-weight: var(--font-medium);
    /* Grosor de fuente basado en la variable */
}

.skills__number {
    line-height: 1.2;
}


.skills__bar,
.skills__percentage {
    height: 7px;
    border-radius: 0.25rem;
}

.skills__percentage {
    display: block;
    background-color: var(--first-color);
}

.development {
    width: 90%;
    background-color: rgb(255, 209, 92);
}

.ui__design {
    width: 80%;
    /* Cambiado para reflejar el valor correcto */
    background-color: rgb(255, 76, 96);
}

.photography {
    width: 60%;
    /* Cambiado para reflejar el valor correcto */
    background-color: rgb(108, 108, 299);
}


.about__boxes {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.875rem;
    margin-top: 4.35rem;
}

.about__box {
    display: flex;
    column-gap: 1.5rem;
}

.about__icon {
    font-size: var(--h1-font-size);
    color: #dedeea;
}

.about__title {
    font-size: 1.875rem;
}

@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 720px;
        justify-content: center;
        row-gap: 1.875rem;
    }

    .about__data::before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        left: 49%;
        top: -20px;

    }

    .about_img {
        justify-self: center;
    }

    .about__box {
        flex-direction: column;
        row-gap: .5rem;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .about__container {
        grid-template-columns: 350px;
    }

    .about__data::before {
        left: 47%;
    }

    .abou__data {
        grid-template-columns: 1fr;
        row-gap: 1.875rem;
    }

    .about__boxes {
        grid-template-columns: repeat(2, 150px);
        row-gap: 1.5rem;
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {
    .about__container {
        grid-template-columns: 320px;
    }

}

@media screen and (max-width: 350px) {
    .about__container {
        grid-template-columns: 1fr;
    }

    .about__boxes {
        grid-template-columns: 1fr;
    }
}